* {
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
}

body {
  background: #141D2F;
  /* padding: 0 24px; */
}

.App {
  /* background: #141D2F; */
}
.main-box {
  padding: 0 24px;
}

.header {
  margin-top: 31px;
  display: flex;
  justify-content: space-between;
}

.header-title {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 39px;
  color: #FFFFFF;
}

.header-mode {
  display: flex;
  align-items: center;
}

.mode-text {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 19px;
  text-align: right;
  letter-spacing: 2.5px;
  color: #FFFFFF;
}

.search {
  background: #1E2A47;
  border-radius: 15px;
  height: 45px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-wrap {
  display: flex;
  /* gap: 15px; */
}

.search-icon {
  margin: 0 15px;
  height: 20px;
  width: 20px;
  background: url('../public/search.png');
  background-size: cover;
  /* background-repeat: no-repeat; */
}

.search-wrap {
  width: 80%;
}


.search-input {
  border: none;
  outline: none;
  background: #1E2A47;
  /* height: 45px; */
  width: 80%;
  color: #FFFFFF;
}

/* .search-input {
  background: #1E2A47;
  border-radius: 15px;
  border: none;
  outline: none;
  height: 45px;
  width: 100%;
  color: #FFFFFF;
  padding: 0 45px;
} */

.search-button {
  height: 38px;
  width: 70px;
  border-radius: 10px;
  outline: none;
  border: none;
  background: #0079FF;
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 19px;
  color: #FFFFFF;
}

.content {
  margin-top: 16px;
  width: 100%;
  background: #1E2A47;
  border-radius: 15px;
  padding: 32px 24px;
}

.avatar {
  display: flex;
  gap: 20px;
}

.icon {
  background: url('../public/github-icon.png');
  height: 70px;
  width: 70px;
  background-size: cover;
}

.name {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.sub-name {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  color: #0079FF;
}

.date {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  color: #FFFFFF;
}

.content-text {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 25px;
  color: #FFFFFF;
}

.content-value {
  background: #141D2F;
  border-radius: 10px;
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 18px 15px;
}

.content-value__text {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
}

.content-value__value {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.content-icon {
 display: flex;
 gap: 10px;
 flex-direction: column;
 /* align-items: center; */
}

.content-icon__wrap {
  display: flex;
  gap: 10px;
}

.pin-icon {
  background: url('../public/pin.png');
  width: 13.75px;
  height: 20px;
  background-size: contain;
}

.link-icon {
  background: url('../public/url.png');
  width: 14.08px;
  height: 13.3px;
  background-size: contain;
}

.twiter-icon {
  background: url('../public/twitter.png');
  width: 20px;
  height: 16.25px;
  background-size: cover;
}

.building-icon {
  background: url('../public/office-building.png');
  width: 20px;
  height: 19.85px;
  background-size: cover;
}
.content-icon__text {
  font-family: 'Space Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  color: #FFFFFF;
}